* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }
    
    
    body::-webkit-scrollbar {
    display: none;
    }
    
    .container .input-field {
    width: 400px;
    height: 30px;
    position: absolute;
    left: 450px;
    top: 200px;
    padding: 20px 20px 20px 80px;
    font-size: 2rem;
    border: none;
    border-radius: 8px;
    outline: 0;
    background-color: #E9ECEF;
    font-family: 'Raleway', sans-serif;
    color: #595959;
    }
    
    .container .image-container img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 460px;
    top: 210px;
    padding: 5px;
    }
    
    .button-class{
    width: 40px;
    height: 40px;
    }
    
    .button-container {
    position: absolute;
    width: 39px;
    height: 39px;
    left: 880px;
    top: 215px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    }
    
    .button-nav {
    display: flex;
    width: 900px;
    justify-content: space-between;
    align-items: center;
    padding: 18px 30px;
    border-radius: 1px solid #ccc;
    position: absolute;
    left: 450px;
    top: 150px;
    }
    
    .buttons span {
    cursor: pointer;
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: #777;
    }
    
    .buttons span:first-child {
    margin-left: 0;
    }
    
    .buttons span.all-button {
    color: black;
    }
    
    .container .task-lists {
    position: absolute;
    left: 440px;
    top: 20px;
    }
    
    .task-lists li {
    list-style: none;
    height: 90px;
    line-height: 45px;
    position: relative;
    right: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    padding-left: 20px;
    width: 480px;
    border-radius: 15px;
    cursor: default;
    overflow: hidden;
    bottom: 100px;
    color: white;
    }
    
    .task-container {
    position: relative;
    top: 350px;
    }
    
    .task-lists {
    margin: 20px 25px;
    width: 500px;
    }
    
    .task-lists .task {
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 16px;
    border-bottom: 1px solid #ccc;
    height: 80px;
    margin-left: 6px;
    }
    
    .task  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: auto;
    }
    
    .task label span.checked {
    text-decoration: line-through;
    }
    
    .task label input {
    margin-top: 15px;
    margin-right: 12px;
    }
    
    .task label .select-task-checkbox {
    position: relative;
    top: 15px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    }
    
    .task label .task-details {
    position: relative;
    top: 8px;
    font-size: 25px;
    }
    
    
    .task span #delete-icon {
    color: red;
    position: relative;
    top: 30px;
    right: 10px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    }
    .no-task-entered-title {
    font-size: 25px;
    font-weight: 750;
    position: relative;
    bottom: 40px;
    left: 50px;
    color: #777;
    }
    
    .total-task{
    position: absolute;
    top: 110px;
    left: 570px;
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: bolder;
    color: #777;
    }